.header {
  background-color: #EB5022;
  position: fixed;
  z-index: 1000;
  width: -webkit-fill-available;
  height: 5rem; }
  .header__nav {
    position: relative;
    top: 1rem; }
    .header__nav div {
      background-color: #EB5022; }
      .header__nav div button {
        position: relative; }
      .header__nav div .nav__logo {
        height: 80px;
        position: absolute;
        left: 50%;
        top: -1rem;
        transform: translateX(-50%); }
        .header__nav div .nav__logo a {
          padding: 0;
          margin: 0; }
      .header__nav div .nav__contenedorLista {
        justify-content: flex-end; }
        .header__nav div .nav__contenedorLista .contenedorLista__lista li a {
          text-decoration: none;
          color: #F3EFEF; }

.footer {
  background-color: #EB5022;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0rem 0rem 4rem 0px rgba(10, 10, 10, 0.175); }
  .footer .footer__subtitulo {
    font-size: 1.25rem;
    color: #F3EFEF; }
  .footer .footer__icons a {
    text-decoration: none; }
    .footer .footer__icons a img {
      margin: 0 .5rem;
      height: 2rem; }

body {
  background-color: #F3EFEF;
  width: 100vw;
  overflow-x: hidden; }
  body * {
    font-family: 'Raleway', sans-serif; }

.inicio {
  width: 100%;
  margin: 0; }
  .inicio__img {
    width: -webkit-fill-available;
    padding: 0;
    margin: 5rem auto 32px auto; }
  .inicio__titulo {
    color: #EB5022;
    font-size: 3rem;
    font-weight: 900;
    margin: 32px auto; }
  .inicio__icons {
    margin: 32px auto; }
    .inicio__icons .icons__iconContainer {
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .inicio__icons .icons__iconContainer .iconContainer__icon {
        height: 58px;
        margin-bottom: 12px; }
      .inicio__icons .icons__iconContainer .iconContainer__texto {
        font-size: 1rem;
        color: #585858; }
  .inicio__carrousel {
    margin: 32px auto;
    padding: 0;
    border: solid 1px #EB5022; }
    .inicio__carrousel .carrousel__titulo {
      text-align: center;
      color: #EB5022;
      font-size: 2.25rem;
      background-color: #e4dfdf;
      margin: 0;
      font-weight: 900; }
    .inicio__carrousel .carrousel__flecha {
      height: 3rem;
      width: 3rem; }

.novedades {
  margin: 64px 0; }
  .novedades__subtitulo {
    margin: 32px auto;
    font-size: 2.5rem;
    border-left: solid 0.5rem #EB5022;
    padding: 0 1rem;
    line-height: 3rem;
    color: #585858; }
  .novedades__cards .cards__card {
    margin: 2rem auto;
    height: 30rem;
    border: solid 1px #EB5022;
    border-radius: 1rem; }
    .novedades__cards .cards__card .card__img {
      height: 50%;
      border-radius: 1rem 1rem 0 0; }
    .novedades__cards .cards__card .card__contEnCard {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .novedades__cards .cards__card .card__contEnCard .contEnCard__subtitulo {
        color: #EB5022;
        font-size: 1.87rem; }
      .novedades__cards .cards__card .card__contEnCard .contEnCard__texto {
        color: #585858; }
      .novedades__cards .cards__card .card__contEnCard .contEnCard__boton {
        background-color: #EB5022;
        border-color: #EB5022;
        border-radius: .8rem;
        align-self: center; }

.yt {
  margin: 32px 0; }
  .yt__subtitulo {
    margin: 32px auto;
    font-size: 2.5rem;
    border-left: solid 0.5rem #EB5022;
    padding: 0 1rem;
    line-height: 3rem;
    color: #585858; }
  .yt__texto {
    margin: 32px auto;
    font-size: 1.87rem;
    color: #585858; }
  .yt__contenedorIcon {
    margin: 32px auto;
    display: flex;
    align-items: center; }
    .yt__contenedorIcon .contenedorIcon__icon {
      height: 100px;
      color: #585858; }
    .yt__contenedorIcon .contenedorIcon__texto {
      color: #585858;
      font-size: 1rem; }
      .yt__contenedorIcon .contenedorIcon__texto a {
        color: #EB5022; }
  .yt__link {
    display: inline-block;
    background-color: #EB5022;
    border-radius: 1rem;
    font-size: 2rem;
    padding: .2rem;
    text-decoration: none;
    text-align: center;
    color: #F3EFEF;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    margin-bottom: 2rem; }

.reglamento {
  width: 100%;
  margin: 0; }
  .reglamento__img {
    width: -webkit-fill-available;
    padding: 0;
    margin: 5rem auto 32px auto; }
  .reglamento__titulo {
    text-align: center;
    color: #EB5022;
    font-size: 3rem;
    font-weight: 900;
    margin: 32px auto; }
  .reglamento__texto {
    font-size: 2.25rem;
    color: #585858;
    font-weight: 900;
    margin: 1rem auto; }

.bailarines__subtitulo {
  margin: 32px auto;
  font-size: 2.5rem;
  border-left: solid 0.5rem #EB5022;
  padding: 0 1rem;
  line-height: 3rem;
  color: #EB5022; }

.bailarines__texto {
  margin: 16px auto 32px auto;
  font-size: 1rem;
  color: #585858; }
