.footer{
    background-color: $color-primario;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0rem 0rem 4rem 0px rgba(10, 10, 10, 0.175);
    .footer__subtitulo{
        font-size: $subtituloh5;
        color: $color-terciario;
    }
    .footer__icons{
        a{
            text-decoration: none;
            img{
                margin: 0 .5rem;
                height: 2rem;
            }
        }
    }
}