$color-primario: #EB5022;
$color-secundario: #585858;
$color-terciario: #F3EFEF;
$titulo: 3rem;
$subtituloh2: 2.5rem;
$subtituloh3: 2.25rem;
$subtituloh4: 1.87rem;
$subtituloh5: 1.25rem;
$texto: 1rem;