body{
    background-color: $color-terciario;
    width: 100vw;
    overflow-x: hidden;
    *{
        font-family: 'Raleway', sans-serif;
    }
}
.inicio{
    width: 100%;
    margin: 0;
    &__img{
        width: -webkit-fill-available;
        padding: 0;
        margin: 5rem auto 32px auto;
    }
    &__titulo{
        color: $color-primario;
        font-size: $titulo;
        font-weight: 900;
        margin: 32px auto;
    }
    &__icons{
        margin: 32px auto;
        .icons__iconContainer{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            .iconContainer__icon{
                height: 58px;
                margin-bottom: 12px;
            }
            .iconContainer__texto{
                font-size: $texto;
                color: $color-secundario;
            }
        }
    }
    &__carrousel{
        margin: 32px auto;
        padding: 0;
        border: solid 1px $color-primario;
        .carrousel__titulo{
            text-align: center;
            color: $color-primario;
            font-size: $subtituloh3;
            background-color: #e4dfdf;
            margin: 0;
            font-weight: 900;
        }
        .carrousel__flecha{
            height: 3rem;
            width: 3rem;
        }
    }
}
