.yt{
    margin: 32px 0;
    &__subtitulo{
        margin: 32px auto;
        font-size: $subtituloh2;
        border-left: solid .5rem $color-primario;
        padding: 0 1rem;
        line-height: 3rem;
        color: $color-secundario;
    }
    &__texto{
        margin: 32px auto;
        font-size: $subtituloh4;
        color: $color-secundario;
    }
    &__contenedorIcon{
        margin: 32px auto;
        display: flex;
        align-items: center;
        .contenedorIcon__icon{
            height: 100px;
            color: $color-secundario;
        }
        .contenedorIcon__texto{
            color: $color-secundario;
            font-size: $texto;
            a{
                color: $color-primario;
            }
        }
    }
    &__link{
        display: inline-block;
        background-color: $color-primario;
        border-radius: 1rem;
        font-size: 2rem;
        padding: .2rem;
        text-decoration: none;
        text-align: center;
        color: $color-terciario;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        margin-bottom: 2rem;
    }
}
